main {
  min-height: 80vh;
  padding-top: 30px;
}

.nav-color {
  background-color: #40bfc1;
}

body {
  background-color: #979797;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem, 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem, 0;
}

.rating span {
  margin: 0.1rem;
}

.check-out {
  margin-top: 2.5rem;
}
